<h1 id="curriculum-vitae">CURRICULUM VITAE</h1>
<h3 id="education-and-training">Education and Training</h3>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th class="col-sm-4">Sep 2012 - Sep 2014</th>
                <th></th>
                <th style="text-align:left">Master of Science, Computational Science</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td style="text-align:left">University of Amsterdam, Faculty of Science, Amsterdam (Netherlands)</td>
            </tr>
            <tr>
                <td><strong>Oct 2009 - Jun 2012</strong></td>
                <td></td>
                <td style="text-align:left"><strong>Bachelor of Science, Physik (Physics)</strong></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td style="text-align:left">Universität Leipzig, Fakultät für Physik und Geowissenschaften, Leipzig (Germany)</td>
            </tr>
        </tbody>
    </table>
</div>
<h3 id="work-experience">Work Experience</h3>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th class="col-sm-4">Nov 2013 - Sep 2014</th>
                <th></th>
                <th style="text-align:left">Master intern</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td style="text-align:left">Austrian Research Institute for Artificial Intelligence (OFAI), Freyung 6/6,  Vienna (Austria)</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td style="text-align:left">First steps in deep learning with an application in music segmentation (for more information see publications and projects).</td>
            </tr>
            <tr>
                <td><strong>Jul 2013 - Sep 2013 </strong></td>
                <td></td>
                <td style="text-align:left"><strong> Research assistant</strong></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td style="text-align:left">Uniklinikum Leipzig in collab. with the Max Planck Institute for Human, Cognitive and Brain Sciences, Leipzig (Germany)</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td style="text-align:left">Analysis of high-Tesla diffusion MRI data, location and evaluation of clusters.</td>
            </tr>
            <tr>
                <td><strong>Mar 2012 - Sep 2012</strong></td>
                <td></td>
                <td style="text-align:left"><strong>Research intern</strong></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td style="text-align:left">Biophysics Group, Universität Leipzig, Augustusplatz 10, Leipzig (Germany)</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td style="text-align:left">Development (hardware and software) of a spatial tissue stretcher.</td>
            </tr>
            <tr>
                <td><strong>Jul 2011 - Jul 2012</strong></td>
                <td></td>
                <td style="text-align:left"><strong>Bachelor intern</strong></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td style="text-align:left">Helmholtz Center for Environmental Research, Brückstraße 3a, 39114 Magdeburg (Germany)</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td style="text-align:left">Development of a novel carbon dioxide measurement method.</td>
            </tr>
            <tr>
                <td><strong>Apr 2011 - Jun 2012</strong></td>
                <td></td>
                <td style="text-align:left"><strong>Student assistant</strong></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td style="text-align:left">Theoretical Physics, Universität Leipzig, Augustusplatz 10, Leipzig (Germany)</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td style="text-align:left">Teaching support.</td>
            </tr>
            <tr>
                <td><strong>Feb 2011 - Apr 2011</strong></td>
                <td></td>
                <td style="text-align:left"><strong>Research intern</strong></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td style="text-align:left">Solarion AG, Ostende 5, 04288 Leipzig (Germany)</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td style="text-align:left">Development of an analysis software for thin-film photo-voltaic wavers.</td>
            </tr>
        </tbody>
    </table>
</div>
<h3 id="skills">Skills</h3>
<h4 id="programming-languages">Programming languages</h4>
<ul>
    <li><p><strong>Python</strong> (Thenao, scikit-learn), Matlab, Mathematica, R</p>
    </li>
    <li><p><strong>C/C++</strong> (Open MPI), Pascal, Fortran </p>
    </li>
    <li><p>Java</p>
    </li>
    <li><p>Unix</p>
    </li>
</ul>
<h4 id="mathematics-and-sciences">Mathematics  and sciences</h4>
<ul>
    <li><p>Calculus for physicists I - VI, Algebra, Numerical Algorithms, Information Theory, Graph Theory</p>
    </li>
    <li><p>Experimental Physics I - IV, Theoretical Physics I - VI, Lab Sessions </p>
    </li>
    <li><p>Molecular Simulations, Stochastic Simulations, Machine Learning</p>
    </li>
    <li><p>General and Organic Chemistry, Environmental Physics</p>
    </li>
</ul>
<h4 id="prototyping">Prototyping</h4>
<ul>
    <li>Arduino, Google SketchUp, 3D-printing</li>
    <li>Sewing, soldering, woodworking</li>
</ul>
<h4 id="languages">Languages</h4>
<ul>
    <li>German (mother tongue)</li>
    <li>English (C2) </li>
    <li>Dutch (B2), French (A2)</li>
</ul>
<h4 id="others">Others</h4>
<ul>
    <li><p>Driving licence B (since 2007)</p>
    </li>
    <li><p>Advanced certified first aid skills</p>
    </li>
</ul>
