//fonts & variables
h1, h2, h3, h4 {
  font-family: 'economica';
}

@font-face {
        font-family: 'economica';
        src: url('/fonts/Economica_Std.ttf');
    }

// nav bar
.navbar-brand{
  padding: 5px 0 0 0;
}
.nav {
  margin-left: 20%;
  li {
    a {
      font-family: 'economica';
      font-size: 22px;
    }
  }
}

#logo-image{
    height: 120px;
}

//layout

#main{
  padding-top: 70px;
}
#intro {
  margin-top: 30px;
  p {
    max-width: 500px;
    margin: 5px;
    font-size: 20px;
  }
}
.section{
  .section-inner{
    height: 100%;
    margin-top: 60px;
    background-color: white;//#f3f1e7
  }
}
body {
  position: relative;
  background-color: #FFFFF6;
  font-family: 'Fenix', serif;
  font-size: 16px;
}


.project-thumb {
  position: relative;
  float: left;
  img {
  height: 150px;
  }
  .title {
    display: none;
    font-size: 24px;
    top: 40px;
    left: 20px;
    position: absolute;
  }
  &:hover {
    img {
    filter: grayscale(100%) blur(1px);
    -webkit-filter: grayscale(100%) blur(1px);
    -moz-filter: grayscale(100%) blur(1px);
    -ms-filter: grayscale(100%) blur(1px);
    -o-filter: grayscale(100%) blur(1px);
    }
    .title {
      display: block;
      z-index: 1;
    }
  }
}

.contact {
  width: 200px;
  float: left;
  margin-right: 30px;
}
