#main {
  padding-top: 70px;
}
#intro {
  margin-top: 50px;
}
.section .content {
  height: 800px;
  margin-top: 60px;
  background-color: #c2c6be;
  opacity: 0.6;
}
body {
  position: relative;
}
.navbar-brand {
  padding: 5px 0 0 0;
}
#logo-image {
  height: 120px;
}
.contact {
  width: 200px;
  float: left;
  margin-right: 30px;
}
